.message {
  padding: 0.2rem 0.5rem;
  margin-top: 0.2rem;
  transition: background-color 0.2s;
}

.user:hover {
  background-color: var(--bg-highlight);
}

.message-username {
  font-weight: 700;
  color: var(--accent-light);
}

.current .message-username {
  color: var(--accent);
}

.message-time {
  color: var(--fg-gutter);
  margin-left: 1rem;
}

.system-info, .system-error {
  border-radius: 3px;
  padding: 1rem 0.5rem;
  margin: 1.2rem 0;
}

.system-info {
  border: 1px solid var(--info);
  background-color: var(--info-bg);
}

.system-error {
  border: 1px solid var(--error);
  background-color: var(--error-bg);
}
