#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
  overflow: hidden; /* No page scroll at all */

  font-family: 'Courier New', Courier, monospace;
}

.app-container {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
  gap: 0;
  flex: 1;
}

.alt-display-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--fg-gutter);
}
