#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100dvw;
  overflow: hidden; /* No page scroll at all */

  font-family: 'Courier New', Courier, monospace;
}

.app-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr auto;
  gap: 0;
  flex: 1;
}
